<form action="">
    <h1>Criando nova categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput  matInput type="text" name="nome" placeholder="Ex. Computação">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput  type="text" name="descricao" placeholder="Ex. Livros de Computação"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button  class="mat-elevation-z8" mat-stroked-button color="primary">Criar</button>
        <button  class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
    </div>
</form>