<form>
    <mat-card class="home mat-elevation-z4">
        <mat-card-title class="title"> {{ livro.title }}</mat-card-title>
    </mat-card>

    <mat-card class="home mat-elevation-z4">
        <mat-card-subtitle class="subtitle">Por {{ livro.name_author }}</mat-card-subtitle>
        <button (click)="cancel()" mat-stroked-button color="warn">
            <mat-icon>keyboard_return</mat-icon>
        </button>
    </mat-card>

    <mat-card class="home mat-elevation-z4">
        <mat-card-subtitle class="subtitle"> {{ livro.text }}</mat-card-subtitle>

    </mat-card>
</form>
