<form action="">
    <h1>Deletando categoria</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="category.name" matInput type="text" name="nome" disabled >
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
        <textarea matInput [(ngModel)]="category.description" type="text" name="descricao" disabled></textarea>
    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()"  class="mat-elevation-z8" mat-stroked-button color="primary">Deletar</button>
        <button (click)="cancel()" class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
    </div>
</form>